.license-strip,
[license-strip] {
  display: inline-block;
  padding: 6px;
  margin: 0;
  font-size: 1em;
  box-sizing: border-box;
}


.license-strip.badge,
[license-strip="badge"] {
  padding-left: 1.4em;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: auto 1.2em;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAA4ZpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNi1jMTM4IDc5LjE1OTgyNCwgMjAxNi8wOS8xNC0wMTowOTowMSAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9tbS8iIHhtbG5zOnN0UmVmPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvc1R5cGUvUmVzb3VyY2VSZWYjIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtcE1NOk9yaWdpbmFsRG9jdW1lbnRJRD0ieG1wLmRpZDpkMDE3Yjk0ZS05NGJkLTI2NDEtOGZmOS1iZjdhMGEzNjc3YjEiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6M0RFQUQ4N0FDRkRBMTFFNkEyMENBNDcwRjA2RkRFNkQiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6M0RFQUQ4NzlDRkRBMTFFNkEyMENBNDcwRjA2RkRFNkQiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIDIwMTcgKE1hY2ludG9zaCkiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDphZWFhMWEyMi0yOWJhLTQ2MTEtOWM5MS1hOTZiMDY5ODIzZjUiIHN0UmVmOmRvY3VtZW50SUQ9ImFkb2JlOmRvY2lkOnBob3Rvc2hvcDo0OTcwOTI4ZS0xODNlLTExN2EtOTMxMS1lM2MwMDBlODkyZTgiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz5EtNhGAAACpklEQVR42oxUzYtTMRCfLrWusIInUSjoYrJaQQXPxWXBhRdh9+JNxIMgipDXs//Ewns9Cl7Eu/jRFOxFEbyJN6GT9QP04HnBQ63EmSTvo+0WHDpN3mTml5lfJmk452BRkFTy5BSA2TW5uUfzllLqMUjxnNZ+wBJpLAHcAtN/YAzuAtpVjFYpBQ9ToeRLqfQTsrxaCGXAOV0dZIkTIFyWCOd0TQfaDUh5jX1IjoaYQVS3ANh2Y/02EYnLdOJBxuRSVzdICDRz7OPG2QtOoA64UnEGHTDpvtzAa0CVpcIC9u0iGTeGoMCAVArUhtkBTL8A4nk0xq+vVK75Wo7QsnQYqaLAnl3GewBVFobkmxs4TcMxoG0qQLRtMGavCpkFk5nwWhcRP21w3aOM10tAtOYmLXUlFEFiBuyweQVMNjRb1F53+bvpHUF0mEYhw3ZMR07BaMBraMlIdULZUnVpGnpVyaIgbPNCyBDsjgcWoZb+UHpQqRb5YxuvsQ/7SsG7Wq69W5YsAU8EQhC0jpHD2ilj0QgQbMNg16rWIwBHaqesRj49+ulYXk4fnnBrZ5QHEznWylY3SIjXJYckJ4vD5RKyTEGvp6gtgi2JOQxLMglMx3LLhrBXKsBzeBn3q9JSZajPiMc+sUv9pRT6nNK8utO5NrFnypO/UHsc8BbdkmeeD6zIn5GZWG4F4pgMUka7TDeJune11wZvTz4+fMqz7++bFWi9xwtAE0cli9236X/Et6VZc//ZOt6BycFnONOdQutXc77HK3CfVQBj/5a/dmr+LptH/M+gJZhdkmFsscKfqrt/yAPr+EUA+PrtOvz98wb+RwRsTw6mIw98NYQ05558gPWzIzR4h05wUypxkSxrpJcixAfy+00994kux0gKPWo1GjN7/BNgAO0TWcejJvRLAAAAAElFTkSuQmCC');
}

.license-strip a,
[license-strip] a {
  color: inherit !important;
  text-decoration: none !important;
}